<h2>Edit todo item</h2>

<%= render "form.html", changeset: @changeset,
                        action: todo_item_path(@conn, :update, @todo_item) %>

<%= link "Back", to: todo_item_path(@conn, :index) %>
