<h2>Listing todo items</h2>

<table class="table">
  <tbody>
<%= for todo_item <- @todo_items do %>
    <tr class='<%= if todo_item.done, do: "done" %>'>
      <td class="content"><%= link todo_item.content, to: todo_item_path(@conn, :edit, todo_item) %></td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New todo item", to: todo_item_path(@conn, :new) %>
